.navbar{
    display: flex;
    background-color: rgba(0,0,0,0.25);
    padding: 5px 100px;
    font-weight: 600;
    gap: 30px;
}

.itens{
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
}

.itens li{
    cursor: pointer;
}