@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.homeText{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}