@font-face {
    font-family: 'CativaWeb';
    src: url('../../fonts/Fredoka/static/Fredoka/Fredoka-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}  

.logo{
    font-family: 'CativaWeb', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}