@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sectionTitle{
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.serviceText, .reasonsText, .motivosText{
    font-family: "Poppins", sans-serif;
}

.integrantesNameDesc, .footer{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.integrantesProf, .faq, .duvidas{
    font-family: "Poppins", sans-serif;
}